<!-- <app-card [shapeTemplate]="triangle" #firstCard>
  <div class="card-header">hello</div>
  <div class="card-body">World</div>
  <div class="card-footer">World</div>
</app-card>
<app-card [shapeTemplate]="cross">
  <div class="card-header">hello</div>
  <div class="card-body">World</div>
  <div class="card-footer">World</div>
</app-card>

<ng-template #triangle>
  <div class="triangle"></div>
</ng-template>
<ng-template #cross>
  <div class="cross"></div>
</ng-template> -->
<!-- <app-banner></app-banner> -->

<app-3d-card></app-3d-card>
